<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">
          Downloads
          <small>download statement</small>
        </h1>
      </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">


      <app-downloads-by-time></app-downloads-by-time>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Downloads By User
          </div>
          <div class="panel-body">
            <div id="morris-area-chart"></div>
          </div>
        </div>
      </div>

    </div>
    <!-- /. ROW  -->
    <div class="row">

      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Downloads By Name
          </div>
          <div class="panel-body">
            <div id="morris-line-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Downloads By Publisher
          </div>
          <div class="panel-body">
            <div id="morris-donut-chart"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
